/*!
 * Buttons taken from Materialize v0.97.5 under the MIT license ( Copyright 2014-2015 Materialize - https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE )
 */
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: #fff;
}

.btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-block {
    display: block;
}

.btn .fa {
    margin-right: .5em;
}

.btn-full {
    display: block;
    width: 100%;
}

@media screen and (max-width: 910px) {
    button .squish {
        display: none;
    }
}