.ButtonGroup {
    display: flex;
}

.ButtonGroup:not(.shrink) button {
    flex: 1;
}

.ButtonGroup button {
    background-image: -webkit-linear-gradient(top, #3b515b, #324751);
    background-image: linear-gradient(to bottom, #3b515b, #324751);
    border-radius: 0;
    border: 1px solid #607d8b;
}

.ButtonGroup button:hover {
    background-image: -webkit-linear-gradient(top, #40555f, #263d47);
    background-image: linear-gradient(to bottom, #40555f, #263d47);
}

.ButtonGroup button:active {
    background-image: -webkit-linear-gradient(top, #374c56, #324751);
    background-image: linear-gradient(to bottom, #374c56, #324751);
}

.ButtonGroup button:not(:first-child) {
    border-left: 0;
}

.ButtonGroup button:first-child {
    border-radius: 5px 0 0 5px;
}

.ButtonGroup button:last-child {
    border-radius: 0 5px 5px 0;
}