.col {
    width: 340px;
    max-width: 340px;
    display: inline-block;
    height: 97vh;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
    box-shadow: #000 0 0 3px;
}

.col {
    margin-left: 6px;
}

.col:first-child {
    margin-left: 1em;
}

.col-header {
    margin: 0;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    background-image: -webkit-linear-gradient(top, rgb(54, 68, 73), rgb(29, 38, 42));
    background-image: linear-gradient(to bottom, rgb(54, 68, 73), rgb(29, 38, 42));
    cursor: all-scroll;
    text-shadow: #222 0 0 10px;
    -webkit-user-select: none;
}

.col-header p, .col-header h1, .col-header h2, .col-header h3, .col-header h4, .col-header h5, .col-header h6, .col-header span {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-body {
    max-height: 94.8%;
    overflow-y: auto;
}