body {
    width: 100%;
    height: 100%;
    font-family: Verdana, "Trebuchet MS", sans-serif;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #263238;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}

footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}

hr {
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.container {
    margin: 1em;
}

a {
    text-decoration: none;
    color: white;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

ul {
    margin: 0;
    padding: 0;
}

ul.horizontal {
    list-style: none;
}

ul.horizontal li {
    display: inline-block;
}

input, textarea, button, select {
    color: #fff;
    background-color: #455a64;
    border: 2px solid #607d8b;
    border-radius: 3px;
    padding: 5px;
    outline: none;
}

button {
    cursor: pointer;
}

input:active, textarea:active, button:active {
    background-color: #546e7a;
}

.grid {
    max-width: initial !important;
    min-width: initial !important;
    margin: initial !important;
}

dt:not(:first-child) {
    margin-top: 1em;
}

dd {
    font-style: italic;
}

dl {
    text-indent: 2em;
}

dt > ul {
    list-style: none;
    text-indent: 4em;
}

section:not(:first-child) {
    margin-top: 5em;
    margin-bottom: 5em;
}