.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*********TRG**********/

.grid.grid-spacing .grid-cell {
    margin: 5px;
}

.grid.grid-spacing:not(.all-sides) .grid-cell:first-of-type {
    margin-left: 0;
}

.grid.grid-spacing:not(.all-sides) .grid-cell:last-of-type {
    margin-right: 0;
}

/*********TRG**********/

.grid-cell {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.grid-flexCells > .grid-cell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.grid-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.grid-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.grid-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.grid-justifyCenter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.grid-cell-top {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.grid-cell-bottom {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.grid-cell-center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}

.grid-cell-autoSize {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.grid-fit > .grid-cell {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.grid-full > .grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

.grid-1of2 > .grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

.grid-1of3 > .grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%
}

.grid-1of4 > .grid-cell {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
}

.grid-gutters {
    margin: -1em 0 0 -1em
}

.grid-gutters > .grid-cell {
    padding: 1em 0 0 1em
}

.grid-guttersLg {
    margin: -1.5em 0 1.5em -1.5em
}

.grid-guttersLg > .grid-cell {
    padding: 1.5em 0 0 1.5em
}

.grid-guttersXl {
    margin: -2em 0 2em -2em
}

.grid-guttersXl > .grid-cell {
    padding: 2em 0 0 2em
}

@media (min-width: 384px) {
    .small-grid-fit > .grid-cell {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .small-grid-full > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .small-grid-1of2 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    .small-grid-1of3 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%
    }

    .small-grid-1of4 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }

    .small-grid-gutters {
        margin: -1em 0 1em -1em
    }

    .small-grid-gutters > .grid-cell {
        padding: 1em 0 0 1em
    }

    .small-grid-guttersLg {
        margin: -1.5em 0 1.5em -1.5em
    }

    .small-grid-guttersLg > .grid-cell {
        padding: 1.5em 0 0 1.5em
    }

    .small-grid-guttersXl {
        margin: -2em 0 2em -2em
    }

    .small-grid-guttersXl > .grid-cell {
        padding: 2em 0 0 2em
    }

    .InputAddOn:last-of-type {
        margin-bottom: 0;
    }
}

@media (min-width: 576px) {
    .med-grid-fit > .grid-cell {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .med-grid-full > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .med-grid-1of2 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    .med-grid-1of3 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%
    }

    .med-grid-1of4 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }

    .med-grid-gutters {
        margin: -1em 0 1em -1em
    }

    .med-grid-gutters > .grid-cell {
        padding: 1em 0 0 1em
    }

    .med-grid-guttersLg {
        margin: -1.5em 0 1.5em -1.5em
    }

    .med-grid-guttersLg > .grid-cell {
        padding: 1.5em 0 0 1.5em
    }

    .med-grid-guttersXl {
        margin: -2em 0 2em -2em
    }

    .med-grid-guttersXl > .grid-cell {
        padding: 2em 0 0 2em
    }
}

@media (min-width: 768px) {
    .large-grid-fit > .grid-cell {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .large-grid-full > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }

    .large-grid-1of2 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%
    }

    .large-grid-1of3 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%
    }

    .large-grid-1of4 > .grid-cell {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%
    }

    .large-grid-gutters {
        margin: -1em 0 1em -1em
    }

    .large-grid-gutters > .grid-cell {
        padding: 1em 0 0 1em
    }

    .large-grid-guttersLg {
        margin: -1.5em 0 1.5em -1.5em
    }

    .large-grid-guttersLg > .grid-cell {
        padding: 1.5em 0 0 1.5em
    }

    .large-grid-guttersXl {
        margin: -2em 0 2em -2em
    }

    .large-grid-guttersXl > .grid-cell {
        padding: 2em 0 0 2em
    }

    .InputAddOn:last-of-type {
        margin-bottom: 1em;
    }
}