.InputAddOn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em
}

.InputAddOn-field {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 0;
}

.InputAddOn-field:not(:first-child) {
    border-left: 0
}

.InputAddOn-field:not(:last-child) {
    border-right: 0
}

.InputAddOn-item {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font: inherit;
    font-weight: 400
}

.InputAddOn-item.fake-field {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-radius: 0;
}

button.InputAddOn-item, select.InputAddOn-item {
    background-image: -webkit-linear-gradient(top, #3b515b, #324751);
    background-image: linear-gradient(to bottom, #3b515b, #324751);
    border-radius: 0;
    cursor: pointer;
}

button.InputAddOn-item:hover, select.InputAddOn-item:hover {
    background-image: -webkit-linear-gradient(top, #40555f, #263d47);
    background-image: linear-gradient(to bottom, #40555f, #263d47);
}

button.InputAddOn-item:active, select.InputAddOn-item:active {
    background-image: -webkit-linear-gradient(top, #374c56, #324751);
    background-image: linear-gradient(to bottom, #374c56, #324751);
}

select.InputAddOn-item option {
    color: #000;
}

.InputAddOn-field, .InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
}
.InputAddOn-item {
    padding: .5em;
}

.InputAddOn-field:first-child, .InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px
}

.InputAddOn-field:last-child, .InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0
}