nav li .fa {
    margin-right: .25em;
}

nav {
    box-shadow: rgb(34, 60, 85) 0 0 5px 1px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: rgb(34, 60, 85);
    border-bottom: rgb(34, 60, 85) solid 3px;
}

nav ul li {
    display: inline-block;
}

nav li a {
    color: #fff;
    padding: 10px 20px;
}

nav li.active a {
    border-bottom: rgb(37, 128, 155) solid 3px;
    background-color: rgb(34, 90, 115);
}

nav li a:hover {
    background-color: rgb(34, 80, 105);
    border-bottom: rgb(36, 108, 135) solid 3px;
}