.panel {
    position: absolute;
    height: 100%;
    max-width: 100%;
    overflow-x: auto;
    z-index: 999999;
    background-color: rgba(32, 44, 50, 0.95);
}

body:not(.vex-open) .panel {
    z-index: 999998;
}

.panel.panel-left {
    top: 0;
    left: 0;
    border: 2px solid #000;
}

.panel.panel-right {
    top: 0;
    right: 0;
    border: 2px solid #000;
}

.panel:not(.open) {
    display: none;
}

.panel .panel-header h1, .panel .panel-header h2, .panel .panel-header h3, .panel .panel-header h4, .panel .panel-header h5, .panel .panel-header h6, .panel .panel-header p {
    margin: 0;
}

.panel .panel-header .panel-title {
    flex: 1 1 auto;
}

.panel .panel-header:before {
    flex: 0 0 2.75em;
}

.panel .panel-header {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #101619;
    border-bottom: 2px solid #000;
}

.panel .panel-header .close-button {
    flex: 0 1 auto;
    padding: 3px;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
}