::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 2px solid #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #909090;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}