.grid {
    margin-bottom: .5em !important;
    border-bottom: 2px dashed rgba(120, 144, 156, 0.25);
    padding-bottom: 3px;
}

.grid.plain {
    border: none;
}

[class*='col-'] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle;
}

select {

}

.tabs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row;
        flex-flow: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100%;
    width: 100%;
}

ul.tabs {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding: 0;
    list-style: none;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #000;
    -webkit-user-select: none;
    margin: 0 3px 0 0;
}

.settings.tabs-container ul.tabs li.selected {
    background-image: -webkit-linear-gradient(left, #546e7a, #78909c);
    background-image: linear-gradient(to right, #546e7a, #78909c);
    /*border: none;*/
}

.settings.tabs-container ul.tabs li:not(.selected):hover {
    background-image: -webkit-linear-gradient(left, #546e7a, #78909c);
    background-image: linear-gradient(to right, #546e7a, #78909c);
}

.settings.tabs-container ul.tabs li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #000;
}

.settings.tabs-container ul.tabs li .fa {
    margin-right: 1em;
}

.settings.tabs-container ul.options {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
}

.settings.tabs-container ul.options li {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-user-select: none;
    background-color: #37474f;
    border: 1px solid #546e7a;
    border-bottom: 3px solid #546e7a;
    margin-right: 3px;
}

.settings.tabs-container ul.options li:hover {
    background-color: #455a64;
    border-color: #607d8b;
}

div.tab-holder {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

div.tab-content:not(.active) {
    display: none;
}