.tabs-container {
    /* main container for tabs (holds both ul.tabs and div.tab-holder) */
    /*height: 100%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
}

.tab-holder {
    /* "content" - should fill up rest of page */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative;
}

ul.tabs {
    /* "header" - should be stuck on top */
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #546e7a;
    cursor: default;
    -webkit-user-select: none;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}

ul.channel-stats, ul.chat-line-holder {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tabs li {
    /* main clickable tab headers */
    display: inline-block;
    cursor: pointer;
    padding: 2px 15px;
    border-left: 1px solid #546e7a;
    border-right: 1px solid #546e7a;
    /*border-top: 1px solid #546e7a;*/
    margin-right: 10px;
    background-color: rgba(84, 110, 122, 0.5);
}

ul.tabs li:first-child {
    border-left: none;
}

ul.tabs li.selected {
    background-image: -webkit-linear-gradient(bottom, #546e7a, #78909c);
    background-image: linear-gradient(to top, #546e7a, #78909c);
    /*border: none;*/
}

ul.tabs li:not(.selected):hover {
    background-image: -webkit-linear-gradient(bottom, #546e7a, #78909c);
    background-image: linear-gradient(to top, #546e7a, #78909c);
}

ul.tabs li.new-message {
    font-weight: bolder;
    text-shadow: #fff 1px 1px 3px;
}

ul.tabs li.new-message:before {
    font-family: "FontAwesome";
    content: "\f111";
    padding-right: 5px;
    color: yellow;
    text-shadow: yellow 0 0 10px;
}

ul.channel-stats li {
    /* nested header list */
    display: inline-block;
    padding: 0 10px;
}

div[data-tab]:not(.active) {
    /* Hide non-active tabs */
    display: none;
}

.tab-content {
    /* "nested container" - should fill height of parent */

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-flow: column;
        flex-flow: column;
    position: absolute;
    height: 100%;
    width: 100%;
}

ul.channel-stats {
    /* "nested header" - should stick to top of parent */
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
}

ul.chat-line-holder {
    /* "nested content" - should fill rest of parent (until footer)  and shouldn't overlap/be overlapped */
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    overflow-y: auto;
    max-height: 100%;
}

.text-area {
    /* "nested footer" - should stick to bottom of parent */
    -webkit-box-flex: 0;
        -ms-flex: 0 1 2em;
            flex: 0 1 2em; /* custom footer height. nested footer will contain a textbox and button in a grid. */
}