.location-grid {
    max-width: 150px;
    margin: 0 auto;
}

.location-grid .location-button {
    border-radius: 0;
    font-family: monospace;
    font-size: 175%;
}

.location-grid .location-button.selected {
    background-color: #327864;
}

.location-grid .location-button.selected:active {
    background-color: #338470;
}