.TitledWell {
    display: flex;
    flex-flow: column;
    min-height: 50px;
}

.TitledWell .title {
    padding: 5px;
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    height: 1.5em;
    background-image: linear-gradient(to bottom, #283b3f, #25363a);
    border: 1px solid #25363a;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    -webkit-user-select: none;
    cursor: default;
}

.TitledWell .title.center {
    flex-flow: column;
    align-items: center;
}

.TitledWell .title.right {
    flex-flow: column;
    align-items: flex-end;
}

.TitledWell .body {
    padding: 5px;
    flex: 1 1 auto;
    background-color: #2d4145;
    border: 1px solid #25363a;
    border-top: none;
}

.TitledWell.dark .title {
    background-image: linear-gradient(to bottom, #172c30, #132327);
    border: 1px solid #132327;
}

.TitledWell.dark .body {
    background-color: #122b2f;
    border: 1px solid #132327;
}