<script>
    window.$ = window.jQuery = require("../../bower_components/jquery/dist/jquery");
</script>
<script src="../../bower_components/crel/crel.min.js"></script>
<script src="modules/tabit.js"></script>
<script src="modules/vex.js"></script>
<script src="modules/vex.dialog.js"></script>
<script>
    vex.defaultOptions.className = "vex-theme-os";
    window.crelp = crel.proxy;
</script>

<script src="modules/Poly.js"></script> <!-- LOAD AFTER OTHER DEPS -->
