html(lang="en")
    head
        meta(charset="UTF-8")
        title Template

        link(rel="stylesheet" href="../css/imports.css")
        link(rel="stylesheet" href="../css/views/index.css")
        link(rel="import" href="../js/imports.html")
    body
        main
            h1 Temp
            hr
            p Temp
        script(src="../js/views/index.js")